<html>
 <head>
  <meta charset="utf-8">
  <title>Home</title>
 </head>
 <body>
  <p><a href="/docs">Все функции сервера</a>
  <p>Отчет за период:</p>
  <p><input type="text" name="filename" value="filename"></p>
  <p><input type="text" name="day" value="day"></p>
  <p><input type="text" name="month" value="month"></p>
  <p><input type="text" name="year" value="year"></p>
  <a href="http://127.0.0.1:8000/UserActivities/results_excel/?filename=tivas&year=2020&month=8&day=25"
     download>Скачать отчет</a>
</body>
</html>
